# Gradle
.gradle/
build/
.kotlin/

# Android
local.properties
/captures
.externalNativeBuild
.cxx

# IntelliJ / Android Studio
.idea/
*.iml
out/

# macOS / Windows
.DS_Store
Thumbs.db

# Logs / temp
*.log
*.hprof
*.tmp
*.bak
*.swp
*~
